{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Наши приоритеты — качество, поэтому мы работаем только с проверенными поставщиками. У нас в магазинах доступные цены, за счёт большого оборота можем снизить цену для покупателя. В сети супермаркетах «ЦветОпт» высокий уровень флористики. Флористы регулярно проходят обучение.</p>
<p>Также в наших магазинах «ЦветОпт» Вы можете взять зерновой кофе с собой. Например, пока Вы ждете, когда флорист соберет Вам букет, можно выпить ароматный кофе. Это значительно скрасит время ожидания.</p>
<p>Мы рады предложить вашему вниманию:большой выбор цветов, букеты и цветочные композиции, свадебная флористика, горшечные растения, сувениры и подарки, оформление подарков.
</p>

{% endblock %}
